<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .f1 {
            background-color: pink;
        }
    </style>
</head>
<body>
    <h1>welcome to Sing up page</h1>

    <h2>Register here</h2>
    <div class="f1">
    <form >
        <label for=""></label>
        <input type="text" value="Name"><br><br>
        <label for=""></label>
        <input type="email" value="Email"><br> <br>
        <label for=""></label>
        <input type="text" value="passord"> <br> <br>
        
        
        <input type="radio" value="1" name="1"> 
        <label  for="1" >Male</label> <br>
        
        <input type="radio" value="1" name="1">
    
        <label for="2">Female</label> <br>

        <input type="checkbox">
        <label for="">maku qanacsantahy Ruleska</label><br> <br>

        <button>Send</button>
    </div>
</body>
</html>